@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #242323;
  --brand-blue: #3895ff;
  --brand-red: #f24f4f;
}

body {
  background: var(--background);
  color: var(--foreground);
}
